.rating {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/* Étoiles */
.rating .stars {
    unicode-bidi: bidi-override; /* Inversion du sens du texte */
    direction: rtl; /* De droite à gauche */
    text-align: center;
    font-size: 30px; /* Taille des étoiles */
    display: flex;
}

/* Étoiles individuelles */
.rating .stars > span {
    display: inline-block;
    cursor: pointer;
    color: #ccc;
    margin-right: 10px; /* Espacement entre les étoiles */
}

/* Pseudo-élément avant les étoiles */
.rating .stars > span:before {
    content: '\2605'; /* Caractère d'étoile Unicode */
    color: #ccc;
    opacity: 1;
    transition: color 0.2s ease;
    font-size: 30px; /* Taille des étoiles */
    outline: 1px solid transparent; /* Supprime le contour carré */
}

/* Couleur des étoiles au survol */
.rating .stars > span:hover:before,
.rating .stars > span:hover ~ span:before,
.rating input[type="range"]:focus ~ .stars > span:before {
    color: #ffcc00;
}

/* Couleur des étoiles sélectionnées */
.rating .stars > span.selected:before {
    color: #ffcc00;
}

/* Texte de sélection */
.rating .selected-text {
    margin-left: 10px;
    font-size: 16px;
    color: #999;
}

.rating input[type="range"] {
    display: none;
}

body>section>div>img{
    height: 300px;
}

body>section{
    display : grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

img{
    max-height: 300px;
}